@{
    ViewData["Title"] = "Upgrade to Premium";
}

<h2>Upgrade to Premium</h2>

<p>Premium members can access additional features like task due dates, status flags, and more!</p>


<a asp-controller="Cart" asp-action="AddToCart" class="btn btn-success">Add Premium to Cart</a>
<a asp-controller="Cart" asp-action="ViewCart" class="btn btn-primary">View Cart</a>

