@{
    ViewData["Title"] = "Upgrade to Premium";
}

<h2>Upgrade to Premium</h2>

<p>Premium members can access additional features like task due dates, status flags, and more!</p>

<form method="post" asp-action="CreateCheckoutSession">
    <button class="btn btn-success">Pay $9.99</button>
</form>
